
name: Publish Package

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Code
        uses: actions/checkout@v6.0.2

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: '8.x'

      - name: Restore 
        run: dotnet restore

      - name: Build
        run: dotnet build

        
      - name: Pack- Create a NuGet Package
        run: dotnet pack --output ./nupkg

      - name: List all files
        run: ls -al

      - name: Publish Package to GitHub Packages
        run: dotnet nuget push "./nupkg/*.nupkg" --source "https://nuget.pkg.github.com/ibnehussain/index.json" --api-key ${{secrets.GITHUB_TOKEN}}
