name: my first workflow
on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code 
        uses: actions/checkout@v3
      - name: Set up .net # setting up .net
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0
      - name: Restore Dependencies
        run: dotnet restore

      - name: Restore Dependencies
        run: dotnet build

        
