name: Publish .NET package to GitHub Packages

on:
  push: main

permissions: 
   contents: read
   packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '7.x'
      
      - name: Restore
        run: dotnet restore
        
      - name: Build
        run: dotnet build

      - name: Pack
        run: dotnet pack --output ./nupkg

      - name: Publish Package
        run: dotnet nuget push "./nupkg/*.nupkg" --source "https://nuget.pkg.github.com/ibnehussain/index.json" --apik-key ${{secrets.GITHUB_TOKEN}}
      
